player-connection-mode=Listen
player-connection-guid=1230860905
player-connection-debug=0
player-connection-project-name=self_driving_car_nanodegree_program
player-connection-ip=192.168.178.56
player-connection-ip=172.18.0.1
player-connection-ip=172.17.0.1
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=ff6ccab331aa4a93854e6adda72acc12
